body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

#downloadLinks {
  margin-top: 20px;
  text-align: center;
}

.download-link {
  display: block;
  margin-bottom: 10px;
}
